.authSuccess {
  display: none;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.panel-default .panel-heading {
  background-image: none;
}

ul.sidebar {
  position: fixed;
}

ul.sidebar .panel {
  margin: 0px;
}

ul.sidebar .panel .panel-heading {
  margin: 0px;
  border-color: none;
  border-bottom-width: 0px;
}

ul.sidebar li {
  margin-top: 0px;
  padding: 0px;
}
